@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Ubuntu:wght@300;700&display=swap');

:root {
    --light: #fff;
    --darkred: #681813;
    --red: #ad3523;
}

/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    width: 95vw;
    height: 100vh;
    padding: 1.5rem;
    margin: 0 auto;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 4rem;
    line-height: 5rem;
    text-transform: capitalize;
    border-left: 5px solid var(--red);
    padding-left: 1.75rem;
}

h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
}

span {
    color: var(--red);
}

p {
    line-height: 2rem;
    font-size: 1.35rem;
    display: block;
    margin: 2rem 0;
    text-align: justify;
    max-width: 40vw;
}

small {
    font-style: italic;
    opacity: 0.75;
}

button {
    margin: 1rem auto .5rem auto;
    border-radius: .35rem;
    border: none;
    background: var(--red);
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    font-size: .9rem;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    transition: .2s ease-in-out;
}

button:hover {
    background: var(--darkred);
}

/* front-page */
.front-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.front-page-info {
    flex-basis: 45%;
    padding-left: 4rem;
}

.front-page-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.front-page-image img {
    width: 80%;
}

/* mission page */

.mission-page {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ceneter;
}

.mission-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.mission-heading {
    border: none;
    text-align: center;
    margin-bottom: .5rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .7rem;
    background: rgb(252, 234, 234);
    margin: .5rem;
    padding: 2rem 1rem;
    height: 27rem;
    width: 35rem;
}

.card-item p {
    width: 90%;
    text-align: center;
}

.card-item img {
    width: 10rem;
}

.card-item-2 {
    background: rgb(255, 241, 222);
}

.card-item-3 {
    background: rgb(255, 249, 222);
}

.mission-cards {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mission-card:hover .card-item {
    transform: scale(1.007);
    box-shadow: 0px 3px 20px -20px black;
}

/* mission page ends */

/* explore section */

.explore-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

.explore-info,
.explore-photo {
    flex-basis: 45%;
}

.explore-info-1 {
    padding-left: 3rem;
}

.explore-info-2 {
    padding-right: 3rem;
}

.explore-photo img {
    width: 90%;
}


.second-explore {
    width: 100vw;
    position: relative;
}

.second-explore::before {
    content: "";
    position: absolute;
    background: url(./images/shapes/shape.png) center/cover no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.03;
    z-index: -1;
}

.explore-section-align {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* explore section ends*/

/* skills section */

.skills {
    height: 45rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-header {
    border: none;
    text-align: center;
    margin-bottom: .80rem;
    padding-left: 0;
}

.underline {
    width: 20rem;
    height: 5px;
    background: var(--red);
    margin-bottom: 3rem;
}

.skills-logo .fab {
    font-size: 10rem;
    padding: 6rem 5rem;
}

.skill-icon-1 {
    color: #e34f26;
}

.skill-icon-2 {
    color: #1680C0;
}

.skill-icon-3 {
    color: #F0DB4F;
    position: relative;
}

.skill-icon-3::after {
    content: "";
    position: absolute;
    background: black;
    width: 7.5rem;
    height: 8rem;
    top: 7rem;
    bottom: 0;
    left: 6rem;
    right: 0;
    z-index: -1;
}

.skill-icon-4 {
    color: #61DBFB;
}

.skill-icon-5 {
    color: #3C873A;
}

/* skills section ends */

/* footer section */
.footer {
    width: 99vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
}

.social-icons a {
    font-size: 2.75rem;
    display: inline-block;
    padding: 2rem 2rem 0rem 2rem;
    color: white;
}

.social-icons a:hover .fab {
    color: var(--red);
    transform: scale(1.2);
}

/* footer section ends */